# Node dependencies
**/node_modules/

# Fabric samples
**/fabric-samples/

# Docker files/folders
**/docker/

# Binary executables
**/bin/

# Logs
*.log
**/*.log

# Wallets (if storing identities)
wallet/
